
.conway {
  width: auto;
  border-collapse: collapse;
}
  .conway .cell {
    width: 10px;
    height: 10px;
    border: 1px solid #eee;
  }
  .conway .live {
    background: red;
  }
  .conway canvas {
    width: 600px;
    height: 600px;
    border: black solid 1px;

    cursor: crosshair;

    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
